---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>

  {%- endif -%}

  <h2 class="post-list-heading">What is this?</h2>
  
   <div class="post-content e-content" itemprop="articleBody">
    <p>Mirror Maze is a project aiming to collect ... </p>
    <p> Almost every week I find something in the news and have to think of black mirror </p>
    <p>This is a community project, which means we needs your hints!<br>
    <p> Everytime you stumble across news and inventions which remind you of a black mirror episode. Give us a hint & send us the link </p>
  </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Episodes:" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
